/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  background-color: #eee;
  background-repeat: repeat-x;
  background-position: 0 40px;
}

div.container {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  
  margin-top: 2px;
}

div.container.top {
  margin: 0 auto;
  padding: 4px 0;
  margin-top: 16px;
  background-color: transparent;
}

hr.header_divider {
  margin: 4px 0 8px 0;
}

.top_link {
  padding: 6px 10px;
  border-radius: 3px;
  
  margin-left: 14px;
  
  background-color: #fff;
}

.top_link:hover {
  background-color: #f6f6f6;
}

.top_link.dropdown-toggle {
  margin-top: 0px;
}

.top_link.dropdown-toggle:hover {
  margin-top: 0px;
  background-color: #f6f6f6;
}

/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

/* Render mini layout previews
-------------------------------------------------- */
.mini-layout {
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.mini-layout {
  height: 240px;
  margin-bottom: 20px;
  padding: 9px;
}
.mini-layout div {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.mini-layout .mini-layout-body {
  background-color: #dceaf4;
  margin: 0 auto;
  width: 70%;
  height: 240px;
}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
  float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
  background-color: #bbd8e9;
  width: 20%;
  height: 240px;
}
.mini-layout.fluid .mini-layout-body {
  width: 77.5%;
  margin-left: 2.5%;
}

/* Remove bottom margin on example forms in wells */
form.well {
  padding: 14px;
}

/* Tighten up spacing */
.well hr {
  margin: 18px 0;
}

/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {

  /* Reduce padding above jumbotron */
  body {
    padding-top: 70px;
  }

  /* Change up some type stuff */
  h2 {
    margin-top: 27px;
  }
  h2 small {
    display: block;
    line-height: 18px;
  }
  h3 {
    margin-top: 18px;
  }
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Modal example */
  .modal-example .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

}


@media (max-width: 768px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Unfloat the back to top link in footer */
  .footer .pull-right {
    float: none;
  }
  .footer p {
    /*margin-bottom: 9px;*/
  }

}


@media (min-width: 480px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 980px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

}


@media (max-width: 980px) {

}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

}