<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>BLAH Demo</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- Le styles -->
      <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
      <link href="/static/css/main.css" rel="stylesheet">

      <!-- Le fav and touch icons -->
      <!--<link rel="shortcut icon" href="/assets/ico/favicon.ico">

      <link rel="apple-touch-icon" href="/assets/ico/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/assets/ico/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/assets/ico/apple-touch-icon-114x114.png">-->
      
      {% block extra_head %}{% endblock %}
    </head>

  <body>

    <div class="container top"><div class="row">
      <div class="span6">
        {% if custom %}
        <div class="pull-left" style="background-color: #fff; border-radius: 3px; padding: 3px 0; width: 300px;">
          <img src="/static/img/DTU_logo.jpg" width="50" align="left" />
          <div style="padding-top: 20px;">
            <div style="font-size: 120%;">Technical University of Denmark</div>
            <div style="color: #369; font-size: 106%; padding-top: 2px;">Challenge Platform</div>
          </div>
        </div>
        <div class="pull-left" style="margin-left: 12px; padding-top: 30px;">
          <div style="font-size: 92%; color: #888;">Powered by:</div>
          <a href="/"><img src="/static/img/edumate.png" width="78" /></a>
        </div>
        
        {% else %}
        <a href="/"><img src="/static/img/edumate.png" width="150" id="logo" /></a>
        {% endif %}
        
      </div>
      <div class="span6">
        
        <a href="/company/profile" class="top_link pull-right">Companies</a>
        <a href="/user/profile" class="top_link pull-right">Students</a>
        <a href="/challenges" class="top_link pull-right">Challenges</a>
        
        <ul class="nav nav-pills pull-right">
          <li class="dropdown" id="menu1">
            <a class="dropdown-toggle top_link" data-toggle="dropdown" href="#menu1">
              <i class="icon-cog"></i>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/">Home Page</a></li>
              <li class="divider"></li>
              <li><a href="/user/browser">Students Browser **</a></li>
              <li><a href="/user/profile">Student Profile</a></li>
              <li class="divider"></li>
              <li><a href="/challenges">Challenges</a></li>
              <li><a href="/challenges/DTU">Challenges (DTU)</a></li>
              <li><a href="/challenge/sample">Challenge Sample</a></li>
              <li><a href="/challenge/edit">Challenge Edit</a></li>
              <li><a href="/challenge/judge">Challenge Judge</a></li>
              <li class="divider"></li>
              <li><a href="/company/profile">Company Profile</a></li>
              <li><a href="/company/dashboard">Company Dashboard **</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div></div>
    
    <div class="container">

      <header class="header">
        {% include "header.html" %}
      </header>
      
      <div class="row">
      	<div class="span12">
          {% block content %}{% endblock %}
      	</div>
      </div>
      
      <footer class="footer">
        {% include "footer.html" %}
      </footer>

    </div><!-- /container -->
    <br />

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    
    {% block extra_body %}{% endblock %}
  </body>
</html>