{% extends "base.html" %}

{% block content %}
<style>
.row .span5 {
  border:1px solid #666;
  border-radius: 10px;
}

.row .span5.abc {
  border:0px;
}

.photo {
  width: 125px; height: 125px; background-color:#eee;
  margin-left:30px;
}

.divider {
  margin: 4px 0;
}

.placeholder {
  margin-top: 8px;
  background-color: #f8f8f8;
  width: 420px;
  height: 140px;
  border-radius: 3px;
  margin-bottom: 8px;
}
</style>

<div class="row">
	<div class="span8">
	  
	  <div class="row">
	    <div class="span8">
	      <h4>Problem details</h4>
	      <hr class="divider" />
	      <p>
	        Small unwrapped chocolate covered pieces (cubical in shape) become dusty, damaged and scuffed when bulk packaged. A solution is required to prevent and/or heal the damage caused by handling. 
	      </p>
	    </div>
	  </div>
	  <br />
	  
	  <div class="row">
	    <div class="span8">
	      <h4>Requirements for students</h4>
	      <hr class="divider" />
	      <img src="/static/img/marabou.jpg" width="160" align="right" style="margin: 4px 4px 4px 20px;"/>
	      <p>
	        To come up with a solution, which can be in the form of additive, coating, process changes or other creative ideas. 
	      </p>

        <p>
          The students have to find a way to prevent or hide scuff marks on unwrapped chocolate covered pieces that become damaged when bulk packaged, sent through packaging equipment and while being distributed via normal consumer product channels. The method must not change the taste or appearance of the original piece.
        </p>  
        <p>
          To receive an award, the Solvers will have to transfer to the Seeker their exclusive Intellectual Property (IP) rights to the solution.  However, the Seeker will be willing to consider a licensingagreement for a partial award if exclusive IP cannot be transferred by the Solver.
        </p>
	    </div>
	  </div>
	  <br />
	  
	  <div class="row">
	    <div class="span8">
	      <h4>Judging criteria</h4>
	      <hr class="divider" />
        <p>
          This is a Theoretical Challenge that requires only a written proposal to be submitted. 
          The submitted proposal should include the following:
        </p>
        <ol>
          <li>
            Detailed description of the method to prevent/hide damage to pieces as described above.
          </li>
          <li>
            Rationale as to why the Solver believes that the proposed method will work. This is important for an acceptable solution. This rationale should address each of the Technical Requirements described in the Detailed Description and should be supported with relevant examples and literature citations. 
          </li>
          <li>
            Complete description to any coatings/additives or other materials used as well as a cost estimate.
          </li>
        </ol>
        <p> 
          Tack!
        </p>
	    </div>
	  </div>
	  <br />
	  
	  <div class="row">
	    <div class="span7">
	      <i class="icon-asterisk"></i>
	      <i>For any question or comment, please post a question.</i>
	    </div>
	  </div>

	</div>
	
	<div class="span4">
	  <a class="btn"><i class="icon-question-sign"></i> Ask a question</a>
	  <a class="btn"><i class="icon-heart"></i> Follow</a>
	  <br /><br />
	  
	  <h4>Challenge company</h4>
	  <hr class="divider" />
	  <p>
	    <img src="/static/img/marabou_logo.jpg" width="120" />
	  </p>
	  
	  <h4>Submission deadline</h4>
	  <hr class="divider" />
	  <p>
	    <h3 style="color: #666;">Due in 6 days 9 hours</h3>
	    <br />
	    <p>Submit by 05 June 2012 - 11:00 am GMT</p>
	  </p>
	  
	  <h4>Prizes</h4>
	  <hr class="divider" />
	    <ul>
	      <li>1st Prize: $2,000</li>
	      <li>2nd Prize: $1,000</li>
	      <li>3rd Prize: $500</li>
	      
	    </ul>
	    <p>
        Top 10 submissions win an interview for our exclusive summer internship.
      </p>
	  <p>
	    
	  </p>
	  
	  <h4>Stats</h4>
	  <hr class="divider" />
	  <p>
	    <i class="icon-user"></i> Followers: 36 students
	  </p>
	  <p>
	    <i class="icon-list"></i> Submissions: 8 students
	  </p>	  
	</div>
</div>
		
{% endblock %}