{% extends "base.html" %}

{% block content %}
<style>
  hr.divider {
    margin: 4px 0;
  }
  .user_photo {
    width: 42px; height: 42px; background-color: #eee;
  }
  .challenge_cat {
    float: left;
    margin: 0 6px 6px 0;
    padding: 5px;
    background-color: #eee;
    border-radius: 3px;
  }
</style>
<div class="row">
  
  <div class="span8">
    <div class="pull-left">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Filter by category
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <!-- dropdown menu links -->
          <a href="#">Business</a>
          <a href="#">Engineering</a>
          <a href="#">Medicine</a>
          <a href="#">Banking</a>
          <a href="#">Law</a>
          <a href="#">Arts</a>
        </ul>
      </div>
    </div>
    <div class="pull-right">
      <input type="text" class="input-medium search-query">
      <button type="submit" class="btn">Search</button>
    </div>
    <table class="table table-striped">
      <thead>
          <tr>
            <th</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h4><a href="/challenge/sample">
                Developing a quad-copter for geo-surveillance
              </a></h4>
              Prizes: $5,000 + interviews, Due: 15 days
            </td>
            <td>
              <i class="icon-user"></i> 33 followers
              <br />
              <i class="icon-list"></i> 10 submissions
            </td>
          </tr>
          
          <tr>
            <td>
              <h4><a href="/challenge/sample">
                Products that enable the elderly to fulfill their potential
              </a></h4>
              Prizes: $3,000 + internships, Due: 10 days
            </td>
            <td>
              <i class="icon-user"></i> 33 followers
              <br />
              <i class="icon-list"></i> 10 submissions
            </td>
          </tr>
          
          <tr>
            <td>
              <h4><a href="/challenge/sample">
                Minimizing surface damage on a chocolate product
              </a></h4>
              Prizes: $3,000 + internships, Due: 10 days
            </td>
            <td>
              <i class="icon-user"></i> 33 followers
              <br />
              <i class="icon-list"></i> 10 submissions
            </td>
          </tr>
          
          <tr>
            <td>
              <h4><a href="/challenge/sample">
                Early diagnostic tools for pancreatic cancer
              </a></h4>
              Prizes: $3,000 + internships, Due: 10 days
            </td>
            <td>
              <i class="icon-user"></i> 33 followers
              <br />
              <i class="icon-list"></i> 10 submissions
            </td>
          </tr>
          
          <tr>
            <td>
              <h4><a href="/challenge/sample">
                Measuring weight of live animals
              </a></h4>
              Prizes: $3,000 + internships, Due: 10 days
            </td>
            <td>
              <i class="icon-user"></i> 33 followers
              <br />
              <i class="icon-list"></i> 10 submissions
            </td>
          </tr>
        </tbody>
    </table>
    
    <div class="btn-group">
      <button class="btn">1</button>
      <button class="btn">2</button>
      <button class="btn">3</button>
      <button class="btn">4</button>
      <button class="btn">5</button>
      <button class="btn">...</button>
    </div>
  </div>

  <div class="span4">
    <h3>Leaderboard</h3>
    <table class="table">
      <tr>
        <td width="50"><div class="user_photo"></div></td>
        <td>
          <h5>Katharina Sweet</h5>
          23 challenges solved
        </td>
      </tr>
      <tr>
        <td width="50"><div class="user_photo"></div></td>
        <td>
          <h5>Bryan Brownie</h5>
          21 challenges solved
        </td>
      </tr>
      <tr>
        <td width="50"><div class="user_photo"></div></td>
        <td>
          <h5>Plam Plum</h5>
          18 challenges solved
        </td>
      </tr>
    </table>
    
    <h3>Top challenge categories</h3>
    <hr class="divider">
    <div class="challenge_cat"><i class="icon-tag"></i> Life Science</div>
    <div class="challenge_cat"><i class="icon-tag"></i> Market Research</div>
    <div class="challenge_cat"><i class="icon-tag"></i> Radiology</div>
    <div class="challenge_cat"><i class="icon-tag"></i> Data Visualization</div>
    <div class="challenge_cat"><i class="icon-tag"></i> Mobile Development</div>
    <div class="challenge_cat"><i class="icon-tag"></i> Green Energy</div>    
    
  </div>
</div>
{% endblock %}